<div class="story-list-container">
      <search-box [user_id]="user_id">
      </search-box>
   <div class="expanded-story-container" [class.collapsed]="!selected_story.details_expanded">
      <table class="expanded-story">
         <tr>
            <td class="expanded-story-header">
               <div class="close-story-details-button-container">
                  <div class="close-story-details-button"  (click)="closeStoryDetails($event, selected_story)"></div>
               </div>
            </td>
         </tr>
         <tr class="story-frame-row">
            <td class="story-frame-cell">
               <div class="story-frame-wrapper">

               </div>
            </td>
         </tr>
      </table>
   </div>
   <ul class="story-list" *ngIf="stories">
      <div class="shadow-overlay"></div>
      <div *ngIf="stories.length == 0"> Loading stories...</div>

      <li class="story-list-item"
          *ngFor="let story of stories"
          [class.gone]="story.gone"
          [class.expanded]="!story.collapsed">

         <table class="story-list-item-table">
            <tr class="story-header"
                [class.expanded]="!story.collapsed"
                [class.highlighted]="story.story_id==selected_story.story_id && story.collapsed"
                (click)="toggleStoryHeader($event, story)">

               <td class="story-rating-container">
                  <div class="story-rating"
                       [class.highlighted]="story.story_id==selected_story.story_id && story.collapsed">
                     {{story.rating}}
                  </div>

               </td>
               <td class="story-name-container">
                  <div class="story-name"
                      [class.highlighted]="story.story_id==selected_story.story_id && story.collapsed">
                     {{story.title}}
                  </div>
               </td>
               <td class="close-story-button-container">
                  <div class="close-story-button"  (click)="removeStory($event, story)"></div>
               </td>
            </tr>

            <tr class="story-body"
                [class.collapsed]="story.collapsed">

               <td class="vote-button-container">

                  <table class="vote-buttons" *ngIf="!story.collapsed">
                     <tr>
                        <td>
                           <flower-petal #up_vote_button
                                [id]="'up-vote-button'"
                                [action]="'up_vote'"
                                [story]="story"
                                [type]="'up'"
                                [selected_text]="story.vote_text"
                                [text]="['Like','Accurate','Interested']"
                                (click)="updateStoryRating($event, story, 'up_vote', up_vote_button.selected_text);
                                         up_vote_component=up_vote_button;
                                         down_vote_button.close()">
                           </flower-petal>
                        </td>
                     </tr>
                     <tr>
                        <td class="story-rating-container-body">
                           <div class="story-position">
                              {{story.position}}
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <flower-petal #down_vote_button
                                [id]="'down-vote-button'"
                                [action]="'down_vote'"
                                [story]="story"
                                [type]="'down'"
                                [selected_text]="story.vote_text"
                                [text]="['Dislike','Misleading','Boring']"
                                (click)="updateStoryRating($event, story, 'down_vote', down_vote_button.selected_text);
                                         down_vote_component=down_vote_button;
                                         up_vote_button.close()">
                           </flower-petal>
                        </td>
                     </tr>
                  </table>

               </td>
               <td class="snippet-container" colspan="2"
                   (click)="toggleStoryHeader($event, story)">

                  <p class="snippet" *ngFor="let summary_line of story.summary_lines">
                     <span class="bullet-point"> &#9679; &nbsp; </span> {{ summary_line }}
                  </p>
                  <div class="snippet-footer">
                     <div class="expand-story-button-container">
                        <a [attr.href]="story.url" target="_blank">
                           <div class="expand-story-button"
                                (click)="openStoryDetails($event, story)">
                              <span class="source-name">
                                 Source: {{ story.source }}
                              </span>
                              &#9679; &nbsp; &#9679; &nbsp; &#9679;
                           </div>
                        </a>
                     </div>
                  </div>
               </td>
            </tr>
         </table>
      </li>
   </ul>
</div>
