<table class="app-table">
   <tr>
      <td class="app-cell fuzz">
         <table class="fuzz-table">
            <tr>
               <td class="fuzz-cell left">
                  <div class="fuzz-block left"></div>
               </td>
               <td class="logo-cell">
                  <img src="app/images/madfuzz_50_white_bluer.png" alt="mad fuzz logo"
                       class="logo-img"
                       (click) = "reloadAllStories()">
               </td>
               <td class="fuzz-cell right">
                  <div class="fuzz-block right"></div>
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr class="story-list-row">
      <td class="story-list-cell">
         <story-list></story-list>
      </td>
   </tr>
</table>
<div id="preload">
   <img src="app/images/search_blue_30"/>
   <img src="app/images/search_shadow_blue_30"/>
   <img src="app/images/up_vote_30.png"/>
   <img src="app/images/up_vote_30_hover.png"/>
   <img src="app/images/up_vote_30_bl.png"/>
   <img src="app/images/down_vote_30.png"/>
   <img src="app/images/down_vote_30_hover.png"/>
   <img src="app/images/down_vote_30_bl.png"/>
   <img src="app/images/close_2_30"/>
   <img src="app/images/close_2_30_pressed"/>
</div>
